@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/*--------------------------------------GENERAL STYLING----------------------------------------*/
body {
  background-color: #f2f4fc;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #514d67;
}

a {
  text-decoration: none;
  color: #072ac8;
  cursor: pointer;
  margin: 30px;
}

.btn {
  background-color: #072ac8;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 18px;
}

.btn:hover {
  background-color: #292e47;
  cursor: pointer;
}

.circle-logo{
  height: 30px;
  width: 100px;
}


/*--------------------------------------FONTS----------------------------------------*/
h1 {
  color: #292e47;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  margin: 0;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  margin: 0;
}

h3 {
  color: #292e47;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.body-regular {
  color: #292e47;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.body-medium {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.headline-medium {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.headline-regular {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.caption2-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}




/*--------------------------------------NAV SECTION----------------------------------------*/
.burger {
  display: none;
  cursor: pointer;
}

.burger-bar {
  background-color: #292e47;
  display: block;
  margin: 5px auto;
  height: 3px;
  width: 25px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 100px 70px 70px;
  transition: 0.3s ease-in-out;
  /*Look for some transition / animation to get a X to close the burger menu*/
}

.nav-link,
.nav-link:active {
  color: inherit;
  transition: 0.5s ease;
}

.nav-menu > li > a:hover {
  color: #072ac8;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
}

.nav-menu-contact-item{
  display: none;
}


/*--------------------------------------SECTION 1 - HERO SECTION----------------------------------------*/
.hero-images {
  max-width: 50%;
  position: relative;
}

.hero-img {
  height: auto;
  max-width: 100%;
}

.card-img {
  position: absolute;
  max-width: 250px;
  right: 60%;
}

.thumb-img {
  position: absolute;
  height: auto;
  max-width: 230px;
  left: 70%;
  top: 75%;
}

.hero-section {
  display: flex;
  align-items: center;
  margin: 50px 100px;
  padding-top: 50px;
  gap: 60px;
}

.hero-article {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 50%;
  gap: 40px;
}

.hero-article-links {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

/*--------------------------------------SECTION 2 - LOGO SECTION----------------------------------------*/
.logo-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 100px;
}

/*--------------------------------------SECTION 3 - PROJECT SECTION----------------------------------------*/
.project-section {
  margin: 200px 100px;
}

.project-section h3 {
  margin-bottom: 70px;
}

.project-div {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}

.individual-project {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.individual-project .body-medium {
  margin: 30px 30px 10px;
}

.individual-project .headline-regular {
  margin-left: 30px;
}

.project-img {
  height: 240px;
  width: 340px;
  object-fit: cover;
}

/*--------------------------------------SECTION 4 - TESTIMONIAL SECTION----------------------------------------*/
.testimonial-section {
  background-color: #292e47;
  background-image: url("/images/testimonial-section/orbit.png");
  background-position: center;
  background-size: contain;
  height: 600px;
  max-width: 95%;
  margin: 0px auto 200px;
  position: relative;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 130px;
  height: 100%;
  max-width: 55%;
  margin: auto;
}

.testimonial-emoji {
  position: absolute;
  height: 100px;
  width: 100px;
}

.emoji-top-left {
  left: 7%;
  bottom: 75%;
}

.emoji-bottom-left {
  left: 7%;
  bottom: 18%;
}

.emoji-top-right {
  left: 82%;
  bottom: 75%;
}

.emoji-bottom-right {
  left: 82%;
  bottom: 18%;
}

.testimonial-profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.testimonial-section h3 {
  color: #f4f6fc;
  text-align: center;
}

.testimonial-section .body-medium {
  color: #ffc600;
  text-align: center;
}

.testimonial-section .headline-regular {
  color: #a2d6f9;
}

.testimonial-section .caption2-regular {
  color: #f4f6fc;
}

/*--------------------------------------SECTION 5 - SERVICE SECTION----------------------------------------*/
.services-section {
  margin: 200px 100px;
}

.services-section .body-medium {
  color: #292e47;
  margin: 0px 30px;
}

.services-section .headline-regular {
  color: #6B708D;
  margin: 10px 30px 0px;
}

.services-section h3 {
  margin-bottom: 70px;
}

.services-div {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}

.individual-service {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 31%;
}

.services-image {
  background-color: #ECF7FF;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 40px 30px;
}

.service-img-1 {
  background-image: url("/images/services-section/1.svg");
}

.service-img-2 {
  background-image: url("/images/services-section/2.svg");
}

.service-img-3 {
  background-image: url("/images/services-section/3.svg");
}


/*--------------------------------------SECTION 6 - SUBSCRIBE SECTION----------------------------------------*/
.subscribe-section{
  background-color: #FFC600;
  height: 450px;
  max-width: 95%;
  margin: 0px auto 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.email-div{
  background-color: #ffffff;
  height: 70px;
  width: 380px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-img{
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.email-input{
  border: none;
  height: 95%;
  width: 90%;
}

.subscribe-form{
  display: flex;
  gap: 20px;
}

.subscribe-btn{
  padding: 15px 60px;
}

.subscribe-text{
  margin: 20px 0px 50px;
}


/*--------------------------------------PROJECTS PAGE - MAIN PROJECT SECTION----------------------------------------*/
.main-project-section {
  margin: 150px 100px;
}

.main-project-img{
  height: 470px;
  width: 100%;
  margin: 80px auto;
}

.main-project-theme-date{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 20px;
}


/*----------------------------------------CONTACT US PAGE - MAIN SECTION-------------------------------------------*/
.contact-us-section{
  margin: 120px 100px;
}

.contact-us-form{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 40px;
}

.contact-us-email-phone{
  display: flex;
  gap: 40px;
}

.contact-us-input-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.contact-us-input-content{
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
  padding-left: 20px;
}

.contact-us-input-div textarea{
  padding-top: 20px;
}

.contact-us-input-short{
  height: 60px;
}

.submit-btn{
  height: 80px;
}


/*----------------------------------------FOOTER SECTION-------------------------------------------*/
.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 100px;
}

.footer-company{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.individual-footer-link{
  margin: 20px 30px;
}




/*------------------------------------------------- MEDIA QUERIES Mobile 1024px----------------------------------------------*/
@media (max-width: 1024px) {
  /*---NAV SECTION---*/
  .burger {
    display: block;
  }

  .burger.active .burger-bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .burger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active .burger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-bar {
    margin: 50px 55px 50px 25px;
  }
  
  .nav-contact {
    display: none;
  }

  .nav-menu {
    background-color: #f2f4fc;
    position: fixed;
    left: -100%;
    top: 175px;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    gap: 16px;
    padding-bottom: 25px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu-contact-item{
    display: block;
  }

  /*---SECTION 1 - HERO SECTION---*/
  .hero-section {
    flex-flow: wrap;
    margin: 50px 50px;
  }

  .hero-article {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero-images {
    max-width: 100%;
  }

  /*---SECTION 2 - LOGO SECTION---*/
  .logo-section {
    flex-wrap: wrap;
    margin: 120px 50px;
    gap: 100px;
  }

  .logo-amazon {
    display: none;
  }

  .logo-airbnb {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .logo-google {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .logo-microsoft {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .logo-fedex {
    grid-column: 4 / 5;
    grid-row: 2;
  }

/*---SECTION 3 - PROJECT SECTION---*/
  .project-section {
    margin: 130px 50px;
  }

  .project-section h3 {
    margin-bottom: 50px;
  }

/*---SECTION 4 - TESTIMONIAL SECTION---*/
  .testimonial-section {
    margin-bottom: 100px;
  }


/*---SECTION 5 - SERVICE SECTION---*/
.services-section{
  margin: 100px 50px;
}

.services-section h3 {
  margin-bottom: 50px;
}

.individual-service {
  width: 45%;
}

/*---SECTION 6 - SUBSCRIBE SECTION---*/
.subscribe-section{
  margin: 0px auto 80px;
}

/*---CONTACT US PAGE - MAIN SECTION---*/
.contact-us-section{
  margin: 90px 50px;
}


/*---PROJECTS PAGE - MAIN PROJECT SECTION---*/
.main-project-section {
  margin: 100px 50px;
}

.main-project-img{
  height: 300px;
  margin: 40px auto;
}

.main-project-theme-date{
  margin-top: 10px;
}


/*---FOOTER SECTION---*/
.footer-section{
  margin: 50px 40px;
  justify-content: space-around;
}

}

/*------------------------------------------------- MEDIA QUERIES Mobile max-width 760px----------------------------------------------*/
@media (max-width: 760px) {
  /*---SECTION 3 - PROJECT SECTION---*/
  .individual-project{
    width: 100%;
  }

  .project-img{
    width: 100%;
  }
  
  /*---SECTION 4 - TESTIMONIAL SECTION---*/
  .testimonial-container {
    gap: 90px;
    max-width: 90%;
  }

  .testimonial-emoji {
    display: none;
  }

  .testimonial-section {
    max-width: 100%;
  }

/*---SECTION 5 - SERVICE SECTION---*/
.individual-service {
  width: 100%;
}

/*---SECTION 6 - SUBSCRIBE SECTION---*/
.subscribe-section{
  max-width: 100%;
}

.subscribe-form{
  flex-direction: column;
  gap: 20px;
}

.subscribe-btn{
  height: 70px;
}

/*---CONTACT US PAGE - MAIN SECTION---*/
.contact-us-section{
  margin: 90px 50px;
}

.contact-us-form{
  margin-top: 40px;
  gap: 20px;
}

.contact-us-email-phone{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/*---FOOTER SECTION---*/
.footer-section{
  flex-flow: wrap;
  justify-content: center;
  margin: 30px 50px 100px;
}

.footer-company{
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.individual-footer-link{
  margin: 10px 30px;
}

}

/*------------------------------------------------- MEDIA QUERIES Mobile max-width 420px----------------------------------------------*/
@media (max-width: 420px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  /*---NAV SECTION---*/
  .nav-menu {
    top: 110px;
  }

  .nav-bar {
    margin: 30px 40px 30px 15px;
  }

  /*---SECTION 1 - HERO SECTION---*/
  .hero-section {
    flex-flow: wrap;
    margin: 0px 30px;
  }

  .hero-article-links {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .card-img {
    display: none;
  }

  .thumb-img {
    display: none;
  }

  /*---SECTION 2 - LOGO SECTION---*/
  .logo-section {
    flex-wrap: wrap;
    margin: 80px 30px;
    gap: 70px;
  }

  .logo-airbnb {
    grid-column: 1 / 2;
  }

  .logo-google {
    grid-column: 2 / 3;
  }

  .logo-microsoft {
    grid-column: 1 / 2;
  }

  .logo-fedex {
    grid-column: 2 / 3;
  }

  /*---SECTION 3 - PROJECT SECTION---*/
  .project-section {
    margin: 90px 30px;
  }

  .project-section h3 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .project-img {
    max-width: 100%;
  }

/*---SECTION 5 - SERVICES SECTION---*/
.services-section{
  margin: 50px 30px;
}

.services-section h3 {
  margin-bottom: 30px;
}

/*---SECTION 6 - SUBSCRIBE SECTION---*/
.subscribe-section{
  margin-bottom: 50px;
}

.email-div{
  width: 95%;
}

.subscribe-btn{
  width: 95%;
}

/*---CONTACT US PAGE - MAIN SECTION---*/
.contact-us-section{
  margin: 90px 30px;
}

.contact-us-form{
  margin-top: 30px;
}

.contact-us-input-div{
  gap: 5px;
}

.submit-btn{
  height: 60px;
}

/*---FOOTER SECTION---*/
.footer-section{
  margin: 30px 50px 50px;
}


}
