body {
  background-color: #f2f4fc;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #514d67;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease;
}

.btn {
  background-color: #072ac8;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 18px;
}

.btn:hover {
  background-color: #292e47;
}

/*--------------------------------------FONT styles, weight ...----------------------------------------*/
h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  margin: 0;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  margin: 0;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.body-regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.body-medium {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.headline-medium {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.headline-regular {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.caption2-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

/*--------------------------------------NAV SECTION----------------------------------------*/
.burger {
  display: none;
  cursor: pointer;
}

.burger-bar {
  background-color: #292e47;
  display: block;
  margin: 5px auto;
  height: 3px;
  width: 25px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 100px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-menu > li > a:hover {
  color: #072ac8;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
}

/*--------------------------------------SECTION 1 - HERO SECTION----------------------------------------*/
.hero-images {
  max-width: 50%;
  position: relative;
}

.hero-img {
  height: auto;
  max-width: 100%;
}

.card-img {
  position: absolute;
  max-width: 250px;
  right: 60%;
}

.thumb-img {
  position: absolute;
  height: auto;
  max-width: 230px;
  left: 70%;
  top: 75%;
}

.hero-section {
  display: flex;
  align-items: center;
  margin: 50px 100px;
  padding-top: 50px;
  gap: 60px;
}

.hero-article {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 50%;
  gap: 40px;
}

.hero-article h1 {
  color: #292e47;
}

.hero-article-links {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

/*--------------------------------------SECTION 2 - LOGO SECTION----------------------------------------*/
.logo-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 100px;
}

/*--------------------------------------SECTION 3 - PROJECT SECTION----------------------------------------*/
.project-section {
  margin: 200px 100px;
}

.project-section h3 {
  color: #292e47;
  margin-bottom: 70px;
}

.project-section a {
  color: #072ac8;
  cursor: pointer;
  margin: 30px;
}

.project-div {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
}

.individual-project {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.individual-project .body-medium {
  margin: 30px 30px 10px;
}

.individual-project .headline-regular {
  margin-left: 30px;
}

.project-img {
  height: 240px;
  width: 340px;
  object-fit: cover;
}

/*--------------------------------------SECTION 4 - TESTIMONIAL SECTION----------------------------------------*/
.testimonial-section {
  background-color: #292e47;
  background-image: url("/images/testimonial-section/orbit.png");
  background-position: center;
  background-size: contain;
  height: 600px;
  max-width: 95%;
  margin: 0px auto 200px;
  position: relative;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 130px;
  height: 100%;
  max-width: 55%;
  margin: auto;
}

.testimonial-emoji {
  position: absolute;
  height: 100px;
  width: 100px;
}

.emoji-top-left {
  left: 7%;
  bottom: 75%;
}

.emoji-bottom-left {
  left: 7%;
  bottom: 18%;
}

.emoji-top-right {
  left: 82%;
  bottom: 75%;
}

.emoji-bottom-right {
  left: 82%;
  bottom: 18%;
}

.testimonial-profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.testimonial-section h3 {
  color: #f4f6fc;
  text-align: center;
}

.testimonial-section .body-medium {
  color: #ffc600;
  text-align: center;
}

.testimonial-section .headline-regular {
  color: #a2d6f9;
}

.testimonial-section .caption2-regular {
  color: #f4f6fc;
}

/*--------------------------------------SECTION 5 - SERVICE SECTION----------------------------------------*/

/*--------------------------------------SECTION 6 - SUBSCRIBE SECTION----------------------------------------*/

/*--------------------------------------FOOTER SECTION----------------------------------------*/

/*------------------------------------------------- MEDIA QUERIES Mobile from 420px to 1024px----------------------------------------------*/
@media (max-width: 1024px) {
  /*---NAV SECTION---*/
  .burger {
    display: block;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    background-color: #f2f4fc;
    position: fixed;
    left: -100%;
    top: 175px;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    gap: 16px;
    padding-bottom: 25px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-contact {
    display: none;
  }

  .nav-bar {
    margin: 50px 50px;
  }

  /*---SECTION 1 - HERO SECTION---*/
  .hero-section {
    flex-flow: wrap;
    margin: 50px 50px;
  }

  .hero-article {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero-images {
    max-width: 100%;
  }

  /*---SECTION 2 - LOGO SECTION---*/
  .logo-section {
    flex-wrap: wrap;
    margin: 120px 50px;
    gap: 100px;
  }

  .logo-amazon {
    display: none;
  }

  .logo-airbnb {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .logo-google {
    grid-column: 4 / 5;
    grid-row: 1;
  }

  .logo-microsoft {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .logo-fedex {
    grid-column: 4 / 5;
    grid-row: 2;
  }

  /*---SECTION 3 - PROJECT SECTION---*/
  .project-section {
    margin: 130px 50px;
  }

  .project-section h3 {
    margin-bottom: 50px;
  }

  /*---SECTION 4 - TESTIMONIAL SECTION---*/
  .testimonial-section {
    margin-bottom: 100px;
  }
}

/*------------------------------------------------- MEDIA QUERIES Mobile max-width 760px----------------------------------------------*/
@media (max-width: 760px) {
  /*---SECTION 4 - TESTIMONIAL SECTION---*/
  .testimonial-container {
    gap: 90px;
    max-width: 90%;
  }

  .testimonial-emoji {
    display: none;
  }

  .testimonial-section {
    max-width: 100%;
  }
}

/*------------------------------------------------- MEDIA QUERIES Mobile max-width 420px----------------------------------------------*/
@media (max-width: 420px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  /*---NAV SECTION---*/
  .nav-menu {
    top: 110px;
  }

  .nav-bar {
    margin: 30px 30px;
  }

  /*---SECTION 1 - HERO SECTION---*/
  .hero-section {
    flex-flow: wrap;
    margin: 0px 30px;
  }

  .hero-article-links {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .card-img {
    display: none;
  }

  .thumb-img {
    display: none;
  }

  /*---SECTION 2 - LOGO SECTION---*/
  .logo-section {
    flex-wrap: wrap;
    margin: 80px 30px;
    gap: 70px;
  }

  .logo-airbnb {
    grid-column: 1 / 2;
  }

  .logo-google {
    grid-column: 2 / 3;
  }

  .logo-microsoft {
    grid-column: 1 / 2;
  }

  .logo-fedex {
    grid-column: 2 / 3;
  }

  /*---SECTION 3 - PROJECT SECTION---*/
  .project-section {
    margin: 90px 30px;
  }

  .project-section h3 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .project-img {
    max-width: 100%;
  }
}
